.center{
	position:absolute;
	left:50%;
	margin-left:-500px;
	width:1000px;
}
header{
	float:left;
	width:1000px;
	height:200px;
	border:1px solid #bbbbbb;
	background-color: #eeeeee;
	border-radius: 10px;
}
header .login_form{
	float:right;
	margin-top:50px;
	margin-right:50px;
}
header img{
	float:left;
}
.main_menu{
	float:left;
	width:1000px;
}
.main_menu li{
	float:left;
	margin-left:95px;
}
.main_menu li .well{
	margin:0;
	padding:10px;
	padding-right: 40px;
	padding-left: 40px;
	-webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}
.categories{
	float:left;
	margin-left:28px;
	margin-top: 10px;
}
.categories .category{
	background-color: #eeeeee;
	width:450px;
	height:150px;
	float:left;
	margin:10px;
	border:1px solid #aaaaaa;
	border-radius: 10px;
}
.categories .category div{
	width:150px;
	height:150px;
	border-right:1px solid #aaaaaa;
}
footer{
	float:left;
	width:1000px;
	height:50px;
	border:1px solid #aaaaaa;
	border-radius: 10px;
	margin-top: 30px;
	background-color: #eeeeee;
}